/* src/header/header-wrapper/HeaderWrapper.scss */
.header {
  display: flex;
  justify-content: space-between; // Align items properly
  align-items: center; // Center vertically
  padding: 50px;
  background-color: #042940; // Header background color
width:auto;

}
