// Header Styles
$primary-bg-color: #373B5B;
$text-color: #fff;

.header-wrapper {
  background-color: $primary-bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
