@use '@styles' as *;

.portfolio-container {
  width: 100%;
  
  .portfolio-wrapper {
    @include container; // This uses your existing container mixin
    
    @include x-small {
      padding: $spacing-sm;
    }

    @include medium {
      padding: $spacing-md;
    }

    @include large {
      padding: $spacing-lg;
    }
  }
}