
.headerContainer {
  display: flex;
  justify-content: space-between; // Align items properly
  align-items: center; // Center vertically
  padding: 10px;
  background-color: #378452 // Header background color
}
