.footer-container {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #fff;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    
    @include max('xs') {  // instead of @include x-small
        padding: 20px 1.5rem;
    }
    
    @include max('sm') {  // instead of @include small
        padding: 20px 1rem;
    }
    
    @include min('md') {  // instead of @include min-medium
        padding: 20px 0rem;
    }
}