// src/components/layout/container/index.scss
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  
  @include min('sm') { max-width: 540px; }
  @include min('md') { max-width: 720px; }
  @include min('lg') { max-width: 960px; }
  @include min('xl') { max-width: 1200px; }
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}