.footer {
    background-color: #fafafa;
    color: $color-primary;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: 0;
    padding: $spacing-md;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: calc(-50% + 50vw); 
    margin-right: calc(-50% + 50vw);
    box-sizing: border-box;    
}
