// src/header/header-wrapper/HeaderWrapper.scss
.header {
  display: flex;
  justify-content: space-between; // Align items properly
  align-items: center; // Center vertically
  padding: 10px;
  background-color: #505BA5; // Header background color
}
