// src/components/layout/index.scss
.header-section {
  width: 100%;
  background-color:transparent;
  margin: 0;
  padding: 0;
  // Add any header-specific styles
  // Like box-shadow, border-bottom, etc.
}

.page-title-section {
  width: 100%;
  background-color: transparent;
  padding: 0rem 0;
  margin: 0;
  // Add any title section specific styles
}

.footer-section {
  width: 100%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  // Add any footer-specific styles
}