.page-title-container {
  @include container;
  position: relative;
  background-color: #fff;
  padding: 0rem;
  width: 100%;
  display: block;
  
  @include x-small {
    margin-top: 65px;
  }
  
  @include small {
    margin-top: .50rem;
  }
  
  @include min-medium {
    margin-top: 1.25rem;
  }
  
  &.text-left {
    text-align: left;
    padding-left: 0;
    
    .page-title {
      text-align: left;
      margin: 0;
      padding: 0;
      width: 100%;
      display: block;
    }
    
    .page-description {
      text-align: left;
      margin: 0.5rem 0 0 0;
      width: 100%;
      display: block;
    }
    
    @include x-small {
      padding-left: 1.5rem;
    }
    
    @include min-medium {
      padding-left: 6rem;
    }
  }
  
  display: block;
  flex: none;
}