.social-icons-wrapper {
 display: flex;
 gap: 1.5rem;
 
 a {
   color: primary-color;
   font-size: 1.25rem;
   transition: opacity 0.3s ease;
   
   &:hover {
     opacity: 0.8;
   }
 }
 
 @include small {
   display: none;
 }
}