// utilities.scss
@mixin container {
 width: 100%;
 margin: 0 auto;
 padding: 0 1rem;

}

// app.scss
.app-container {
 @include container;
 min-height: 100vh;
}

.main-content {
 @include container;

 // For header height
 padding-top: 80px; 
 text-align: center;

 @include small {
   padding: 1rem;
 }
}