// utilities.scss
@mixin container {
 width: 100%;
 margin: 0 auto;
 padding: 0 1rem;
 max-width: 1248px;
}

// app.scss
.app-container {
 @include container;
 min-height: 100vh;
}

.main-content {
 @include container;
 padding-top: 80px; // For header height
 text-align: center;

 @include small {
   padding-top: 60px; // Adjust for smaller header on mobile
   padding: 1rem;
 }
}