@font-face {
  font-family: 'Open Sans';
 src: url('../assets/fonts/open-sans/open-sans-variable.woff2') format('woff2');
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Open Sans';
 src: url('../assets/fonts/montserrat/montserrat-variable.woff2') format('woff2');
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

