font-face {
  font-family: Open Sans
 src: url..assetsfontsopen-sansopen-sans-variable.woff2 formatwoff2
  font-weight: 100 900
  font-stretch: 75 125
}

font-face {
  font-family: Montserrat
 src: url..assetsfontsmontserratmontserrat-variable.woff2 formatwoff2
  font-weight: 100 900
  font-stretch: 75 125
}

font-face {
  font-family: Inter
 src: url..assetsfontsinterinter-variable.woff2 formatwoff2
  font-weight: 100 900
  font-stretch: 75 125
}

font-face {
  font-family: Nunito
 src: url..assetsfontsnunitonunito-variable.woff2 formatwoff2
  font-weight: 100 900
  font-stretch: 75 125
}

font-face {
  font-family: Raleway
 src: url..assetsfontsralewayraleway-variable.woff2 formatwoff2
  font-weight: 100 900
  font-stretch: 75 125
}

font-face {
  font-family: Playfair Display
 src: url..assetsfontsplayfair-displayplayfair-display-variable.woff2 formatwoff2
  font-weight: 100 900
  font-stretch: 75 125
}


