/* src/styles/main.scss */
@import './variables'; /* Import variables */
@import './mixins'; /* Import mixins */
@import './base'; /* Import base styles */
@import './typography'; /* Import typography styles */
@import './layout'; /* Import layout styles */
@import 'font-awesome/css/font-awesome.min.css';



/* Example styles */
h1 {
  font-size: 2rem;
  color: $primary-color;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}
