.footer-copyright {
    color: #666;
    white-space: nowrap;
    margin: 0;
    padding-top: 1vh;
    
    @include x-small {
        margin-left: 0;
    }
    
    @include small {
        font-size: 12px;
        margin-left: 0;
    }
    
    @include min-medium {
        margin-left: 0;
    }
}